:root {
    --body-color: #ededf6;
    --header-color: #AB0520;
    --mobile-header-color: #f13e53;
    --h1-color: transparent;
    --section-color: #ededf6;
    --article-color: white;
    --ol-color: #d3d3d3;
    --button-color: #0C234B;
    --mobile-button-color: #328cbe;
    --hover-color: #097ebd; 
    --p-color: white;
    --footer-color: #0C234B;
    --mobile-footer-color: #328cbe;
    --footer-font-color: white;
}

body {
    background-color: var(--body-color);
}

header {
    background-color: var(--header-color);
}

h1 {
    background-color: var(--h1-color);
    color: white;
}

section {
    background-color: var(--section-color);
}

article {
    background-color: var(--article-color);
}

select {
    background-color: var(--button-color);
    color: white;
}

ol {
    background-color: var(--ol-color);
}

button {
    background-color: var(--button-color);
    color: white;
}

p {
    background-color: var(--p-color);
}

footer{
     background-color: var(--footer-color);
}

@media (max-width: 980px) {
    header{
        background-color: var(--mobile-header-color);
    }

    select {
        background-color: var(--mobile-button-color);
    }

    button {
        background-color: var(--mobile-button-color);
    }

    footer{
        background-color: var(--mobile-footer-color);
    }
}
