:root {
    --body-color: #ededf6;
    /* --header-color: #AB0520; */
    --header-color: #f13e53;
    --h1-color: transparent;  /*#AB0520;*/
    --section-color: #ededf6;
    --article-color: white;
    --ol-color: #d3d3d3;
    /* --button-color: #0C234B; */
    --button-color: #328cbe;
    --hover-color: #097ebd; /*#0C234B;*/
    --p-color: white;
    /* --footer-color: #1a518a; */
    --footer-color: #328cbe;
    --footer-font-color: white;
}

body {
    background-color: var(--body-color);
}

header {
    background-color: var(--header-color);
}

h1 {
    background-color: var(--h1-color);
    color: white;
}

section {
    background-color: var(--section-color);
}

article {
    background-color: var(--article-color);
}

select {
    background-color: var(--button-color);
    color: white;
}

ol {
    background-color: var(--ol-color);
}

button {
    background-color: var(--button-color);
    color: white;
}

p {
    background-color: var(--p-color);
}

footer{
    background-color: var(--footer-color);
    color: var(--footer-font-color);
    margin: 0;
    padding: 0;
}