@font-face {
    font-family: 'digital-7';
    src: url("../fonts/digital-7.ttf")
}

* {
    padding: 0.8rem;
}

header {
 padding: 3px;
 text-align: center;
 font-size: xx-large;
 border-radius: 10px;
}

h2{
    font-size: x-large;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#quiz-header {
    display: flex;
}

#ol-start{
    align-items: center;
}

article {
    align-items: center;
    border-radius: 5px;
    border-width: 1px;
    box-shadow: black 0px 4px 16px 0px;
    max-width: 60%;
    margin-left: 20%;    
}

#timer {
    font-family: 'digital-7', sans-serif;
    font-weight: bolder;
    position: relative;
    text-align: right;
    justify-content: flex-end;
    margin-left: auto;
    font-size: x-large;
    border-radius: 15px;
    opacity: 0.9;
}

#start-quiz{
    text-align: center;
}

ol {
    display: flex;
    flex-direction: column;
    justify-items: left;
    border-radius: 5px;
    border-width: 1px;
}

ul {
    display: flex;
    flex-direction: column;
}

.btn {
    border-radius: 10px;
    box-shadow: rgb(0, 0, 0) 0px 2px 8px 0px;
    margin-bottom: 10px;
    margin-top: 10px;
    text-align: left;
    width: 50%;
    opacity: 0.9;
    font-size: large;
}

#btn-scores {
    text-decoration: underline;
    color: #0969da;
}

.text-area {
    border: 2px dashed #c0c7cf;
    border-radius: 6px;
    font-size: larger;
}

#results {
    text-align: center;
}

#page-container {
    position: relative;
    min-height: 90vh;
}

#ol-scores{
    display: flex;
    flex-direction: row;
}

#btn-clear{
    text-align: center;
}

#btn-home{
    text-align: center;
}

footer {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 0;
    /* margin-left: 35%; */
    width: 100%;
    padding-bottom: 5px;
}

.btn:hover {
    opacity: 1.0;
    background: pink; 
}

@media (max-width: 980px) {

    /* Call reset.css to remove all previous styling */
    /* Removing all padding and margins for small screen size optimization */
    * {
        padding: 0.5rem;
    }

    .btn {
        text-align: center;
        width: 100%;
        font-size: x-large;
    }
/* Hack to remove hover effect in mobile devices */
    .btn:hover {
        opacity: 0.9;
        background-color: var(--button-color);
    }

    article {
        max-width: 100%;
        /* max-width: 0%; */
        margin-left: 0%;
    }

    .text-area {
        font-size: x-large;
    }
}