@font-face {
    font-family: 'digital-7';
    src: url("../fonts/digital-7.ttf")
}

* {
    padding: 0.8rem;
}

html {
    padding: 0 0 0 0;
}

body {
    padding: 0 0 0 0;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin: 0;
}

header {
    padding: 0;
    text-align: center;
    border-radius: 3px;
}

header img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}


h2 {
    font-size: x-large;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#quiz-header {
    display: flex;
}

article {
    align-items: center;
    border-radius: 5px;
    border-width: 1px;
    box-shadow: black 0px 4px 16px 0px;
    max-width: 60%;
    margin-left: 20%;
}

p {
    text-align: left;
}

select {
    border-radius: 1px;
    padding: 0.3rem;
    text-align: center;
    font-size: small;
}

/* Add flex row centering to the container for checkboxes with small font size */
.checkbox-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.home-btn {
    border-radius: 10px;
    box-shadow: rgb(0, 0, 0) 0px 2px 8px 0px;
    margin-bottom: 10px;
    margin-top: 10px;
    text-align: center;
}


#timer {
    font-family: 'digital-7', sans-serif;
    position: relative;
    text-align: right;
    justify-content: flex-end;
    margin-left: auto;
    font-size: xx-large;
    border-radius: 15px;
    /* opacity: 0.9; */
    /* animation: blinker 1s linear infinite; */
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}

#start-quiz {
    text-align: center;
}

ol {
    display: flex;
    flex-direction: column;
    justify-items: left;
    border-radius: 5px;
    border-width: 1px;
}

ul {
    display: flex;
    flex-direction: column;
}

.btn {
    border: none;
    border-radius: 10px;
    box-shadow: rgb(0, 0, 0) 0px 2px 8px 0px;
    margin-bottom: 10px;
    margin-top: 10px;
    text-align: left;
    width: 50%;
}

.home-btn {
    border-radius: 10px;
    box-shadow: rgb(0, 0, 0) 0px 2px 8px 0px;
    margin-bottom: 10px;
    margin-top: 10px;
    text-align: center;
    width: 100%;
}

#btn-scores {
    text-decoration: underline;
}

.text-area {
    border: 2px dashed #c0c7cf;
    border-radius: 6px;
    font-size: larger;
}

#results {
    text-align: center;
}

#page-container {
    position: relative;
    min-height: 95vh;
    padding: 0 0 0 0;
}

ol {
    align-items: center;
}

#clear {
    text-align: center;
}

#table-container {
    display: flex;
    justify-content: center;
    overflow-x: scroll
}

/* Set table background color */
table {
    background-color: #f1f1c1;
    border-radius: 10px;
    width: 100%;
}

/* Set table header color */
thead {
    background-color: #0969da;
    color: white;
}

/* Set table row text center */
td {
    text-align: center;
}

/* Set table row color */
tr:nth-child(even) {
    background-color: #f2f2f2;
}

#clear {
    border: none;
    border-radius: 10px;
    box-shadow: rgb(0, 0, 0) 0px 2px 8px 0px;
}

#footer-container {
    padding: 0 0 0 0;
    margin: 0;
}


/* Set footer sticky at the bottom of the page */
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
    text-align: center;
    padding: 0.5rem;
    font-size: smaller;
}

footer h3 {
    padding: 0;
}

.btn:hover {
    opacity: 0.8;
}

@media (max-width: 819px) {

    /* Call reset.css to remove all previous styling */
    /* Removing all padding and margins for small screen size optimization */
    * {
        padding: 0.5rem;
    }

    header {
        font-size: larger;
    }

    .btn {
        text-align: center;
        width: 100%;
        font-size: x-large;
    }

    /* Hack to remove hover effect in mobile devices */
    .btn:hover {
        opacity: 1.0;
    }

    article {
        max-width: 100%;
        margin-left: 0%;
    }

    #ol-start {
        flex-direction: column;
    }

    .text-area {
        font-size: x-large;
    }

    select {
        font-size: x-large;
    }

    option {
        width: 90%;
    }

    #scores-table {
        font-size: x-small;
    }

    footer{
        font-size: x-small;
    }
}
