@font-face{
    font-family:'digital-7';
    src: url("../fonts/digital-7.ttf")
   }

html,
body,
.wrapper {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    background-color: #c7daf0;
}

header {
    text-align: center;
}

.wrapper {
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
}

.card {
    background-color: hsl(0, 0%, 100%);
    border-radius: 5px;
    border-width: 1px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px 0px;
    color: hsl(206, 17%, 28%);
    font-size: 18px;
    margin: 0 auto;
    max-width: 60%;
    padding: 30px 40px;
}

.card-header {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.card-header label {
    font-family: 'digital-7', sans-serif;
    font-weight: bolder;
    position: relative;
    text-align: right;
    justify-content: flex-end;
    margin-left: auto;
    font-size: 200%;
}

.card-body {
    /* min-height: 100px; */
}

.card-grid {
    /* min-height: 200px; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* grid-template-rows: 1fr 1fr; */
    background-color: rgb(114, 108, 108);
    min-height: 200px;
    max-height: 100px;
}

.btn {
    border: none;
    background-color: black;
    /*rgb(47, 57, 60);*/
    border-radius: 25px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 6px 0px rgba(0, 0, 0, 0.2) 0px 1px 1px 0px;
    color: hsl(0, 0%, 100%);
    display: inline-block;
    font-size: 22px;
    line-height: 22px;
    margin: 16px 16px 16px 20px;
    padding: 14px 34px;
    text-align: left;
    cursor: pointer;
    align-self: center;
}

button[disabled] {
    cursor: default;
    background: #c0c7cf;
}

.float-right {
    float: right;
}

.text-area {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    display: block;
    width: 100%;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 85px;
    font-size: 1.2rem;
    text-align: left;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 2px dashed #c0c7cf;
    border-radius: 6px;
    resize: none;
    overflow: hidden;
}

footer {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
}

footer img {
    padding-right: 20px;
}

@media (max-width: 690px) {
    .btn {
        font-size: 1rem;
        margin: 16px 0px 0px 0px;
        padding: 10px 15px;
    }

    #card-grid {
        display: flex;
        flex-direction: column;
    }

    #text-area {
        font-size: 1rem;
    }
}
